<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
  <h1>Cadastrar Usuário</h1>
  <form action="/decks/newcard" method="POST">
    <label>nome:</label>
    <input type="text" name="cardname" required />
    <br />
    <label>classe:</label>
    <input type="text" name="cardclass" required />
    <br />
    <label>img:</label>
    <input type="text" name="cardimg" required />
    <br />
    <label>type:</label>
    <input type="text" name="cardtype" required />
    <br />
    <label>lv:</label>
    <input type="text" name="cardlv" required />
    <br />
    <label>atk:</label>
    <input type="text" name="cardatk" required />
    <br />
    <label>hp:</label>
    <input type="text" name="cardhp" required />
    <br />
    <label>move:</label>
    <input type="text" name="cardmove" required />
    <br />
    <label>range:</label>
    <input type="text" name="cardrange" required />
    <br />
    <button type="submit">Cadastrar</button>
  </form>
  <% if (message) { %>
    <p class="mensagem_erro"><%= message %></p>
  <% } %>
</body>
<script>
    const passwordInput = document.getElementById('password');
    const toggleButton = document.getElementById('togglePassword');

    toggleButton.addEventListener('click', () => {
      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        toggleButton.textContent = 'Ocultar';
      } else {
        passwordInput.type = 'password';
        toggleButton.textContent = 'Mostrar';
      }
    });
  </script>
</html>