<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/mainScreen.css">
</head>
<body>
        <div class="container-center">
            <div class="header-row">
                <div class="header-left">
                    <h1>COMEÇO</h1>
                </div>
                <div class="header-right">
                    <button class="btn-primary" onclick="paginabatalha()">Procurar oponente</button>
                    <button class="btn-primary" onclick="paginabaralho()">Baralhos</button>
                </div>
            </div>
    <% if(user.selectedDeck == null || user.selectedDeck == ""){ %>
        <div> nenhum deck selecionado</div>
    <% }else{ %>
        <% const deckname = baralhos.find(item => item.id_deck == user.selectedDeck) %>
        <div> deck selecionado: <%= deckname.name %></div>
    <% } %>
    <div class="texto-id">
        userid: <%= user.id %>
    </div>
    </div>

    
</body>
<script>
    let buffer = "";  

    function paginabatalha(){
        <% if(user.selectedDeck == null || user.selectedDeck == ""){ %>
            alert('você precisa de um baralho selecionado para batalhar');
        <% }else{ %>
            window.location.href = '/filadeespera/<%= user.id %>';
        <% } %>
    }

    function paginabaralho(){
        window.location.href = '/decks/user/<%= user.id %>';
    }

    document.addEventListener("keydown", (event) => {
    // ignora se estiver digitando em campos de texto (input, textarea)
    if (event.target.tagName === "INPUT" || event.target.tagName === "TEXTAREA") {
      return;
    }

    buffer += event.key.toLowerCase();  // adiciona a tecla ao buffer
    
    // mantém o buffer do tamanho da palavra
    if (buffer.length > 6) {
      buffer = buffer.slice(-palavra.length);
    }

    // se corresponde à palavra secreta → redireciona
    if (buffer == 'secret') {
        window.location.href = '/decks';
    }
  });
</script>
</html>
